h1{
    color: blue;
    text-align: center;
}

p{
    color: red;
}

div{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: teal;
    width: 600px;
    height: 600px;
    margin: 30px;
    padding: 20px;
    border: 3px dotted black;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

td, th{
    background-color: lightgrey;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    
}


